<h1>Bonjour et bienvenue <%= @user.first_name.capitalize %></h1>

<p>
  Vous avez rejoint la communauté Cavalira et nous sommes très heureux de vous accueillir. Vous partagez la passion du cheval et vous pouvez être assuré que ce site a été conçu par des cavaliers, pour des cavaliers.

  Dès aujourd'hui, n'hésitez pas à regarder la structure du site et dès que vous êtes prêt à prendre une demi-pension en charge ou bien à en proposer une.

  Nous travaillons tous les jours avec vous afin de faciliter la pratique du cheval et les demi-pensions.

  Si vous avez la moindre remarque ou idée d'amélioration, vos emails seront lus et répondus immédiatement à cette addresse:
  welcome@cavalira.com

  Encore bienvenue et merci d'avoir choisi Cavalira,

  L'équipe.
</p>
