#booking-show {
  font-weight: bold;
  text-align: center;
}

.booking-show {
  margin: 50px 0;
}


.booking-informations {
  border-radius: 5px;
  padding: 20px 0;
  background-color: #E84A5F;
  color: white;
  font-weight: lighter;
}

.booking-informations h4 {
  font-weight: bold;
}

