#booking-show {
  font-weight: bold;
  text-align: center;
}

.booking-show {
  margin: 50px 0;
}

.booking-users h2 {
  color: #2A363B;
  font-weight: bold;
}

.booking-users h3 {
  font-size: 20px;
}

.booking-users i {
  font-size: 25px;
}

.booking-informations {
  background-color: white;
  border-radius: 5px;
}

.booking-informations form {
  padding: 15px;
}
