.white-wrapper {
  background-color: white;
}

.booking-new {
  background-color: white;
  border-radius: 5px;
}

.booking-new form {
  padding: 15px;
}

.general {
  margin: 50px 0;
}

.details {
  margin: 50px 0;
}

.infos {
  margin-top: 50px;
}


.resume h2 {
  color: #2A363B;
  font-weight: bold;
}

.resume h3 {
  font-size: 20px;
}

.resume i {
  font-size: 25px;
}

#top-price {
  background-color: #2A363B;
  color: white;
  padding: 8px;
  border-radius: 5px;
}

.details h3 {
  color: #2A363B;
  font-weight: bold;
  text-align: center;
}







