#search_address {
  margin: 0px 20px;
}

#search_race {
  margin: 0px 20px;
}

.search_address {
  margin-top: 30px;
}

.search_race {
  margin-top: 30px;
}

.search_begin_date {
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.search_final_date {
  margin-top: 30px;
  margin-right: 20px;
}

.search-btn {
  margin-top: 55px;
}

.content form {
  margin-bottom: 50px;
}
