.white-wrapper {
  background-color: white;
}

.booking-new {
  background-color: white;
  border-radius: 5px;
}

.booking-new form {
  padding: 15px;
}

.general {
  margin: 50px 0;
}

.details {
  margin: 50px 0;
}

.infos {
  margin-top: 50px;
}
