.white-wrapper {
  background-color: white;
  padding-bottom: 25px;
  margin-top: 45px;
}

.booking-new {
  background-color: white;
  border-radius: 5px;
}

.booking-new form {
  padding: 15px;
}

.header-booking {
  margin: 50px 0;
}

.horse-description {
  margin: 50px 0;
}

.address {
  margin-top: 50px;
}

.header-details{
  margin-top: 65px;
}


.header-details h2 {
  color: #2A363B;
  font-weight: bold;
}

.header-details h3 {
  font-size: 20px;
}

.header-details i {
  font-size: 25px;
}

#top-price {
  background-color: #2A363B;
  color: white;
  padding: 8px;
  border-radius: 5px;
}

.horse-description h3 {
  color: #2A363B;
  font-weight: bold;
  text-align: center;
  padding: 50px 0px;
  margin: 0px
}

h3.horse-description {
  color: #2A363B;
  font-weight: bold;
  text-align: center;
  padding: 50px 0px;
  margin: 0px
}

.bouton {
  margin-top: 45px;
}

.user{
  padding-left: 160px;
  display: flex;
  align-items: center;
}

#name{
  margin-left: 15px;
}

