<h4 class ="text-center">Mes chevaux </h4>

<div class ="container">
  <div class="row">
    <% @horses.each do |horse| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path horse.horse_pic.path %>')">
        <div class="card-description">
        <h2> <%= horse.name %> </h2>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

