<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/ophelied3/rails-airbnb-clone"><i class="fa fa-github"></i></a>
    <%= link_to "Team", team_path %>
  </div>
  <div class="footer-copyright">
    For the people who <i class="fa fa-heart"></i> horses.
  </div>
</div>
