<div class="container">
  <h1 class="text-center">Les 4 cavaliers derrière Cavalira</h1>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="team-card text-center">
        <%= image_tag "ophelie.jpeg", class: "team-avatar"%>
        <h3>Ophélie Delrieu</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam ipsam expedita possimus, esse eaque laborum cumque dolor aliquam animi repudiandae voluptate sint provident corrupti. Provident eos, voluptates est sapiente odit.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="team-card text-center">
        <%= image_tag "jerome.jpeg", class: "team-avatar"%>
        <h3>Jérôme Vivier</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam ipsam expedita possimus, esse eaque laborum cumque dolor aliquam animi repudiandae voluptate sint provident corrupti. Provident eos, voluptates est sapiente odit.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="team-card text-center">
        <%= image_tag "arnaud.jpeg", class: "team-avatar"%>
        <h3>Arnaud Aprahamian</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam ipsam expedita possimus, esse eaque laborum cumque dolor aliquam animi repudiandae voluptate sint provident corrupti. Provident eos, voluptates est sapiente odit.</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="team-card text-center">
        <%= image_tag "jules.jpg", class: "team-avatar"%>
        <h3>Jules Maregiano</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam ipsam expedita possimus, esse eaque laborum cumque dolor aliquam animi repudiandae voluptate sint provident corrupti. Provident eos, voluptates est sapiente odit.</p>
      </div>
    </div>
  </div>
</div>
