// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "swipebox";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


.color-alert {
  background-color: #E84A5F;
}
